@import 'primevue/resources/themes/aura-light-blue/theme.css';
@import 'primeicons/primeicons.css';
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
